<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mongo CRUD</title>
</head>
<body>

    <form action="/data/submit" method="POST" enctype="multipart/form-data" autocomplete="off">
           
          
                        <div class="form-group">
                            <label class="form-control-label" for="input-address">Title</label>
                            <input id="input-address" name="name" class="form-control form-control-alternative" type="text" >
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-address">Guest Name</label>
                            <input id="input-address" name="email" class="form-control form-control-alternative" type="text" >
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-address">Guest Links</label>
                            <input id="input-address" name="regno" class="form-control form-control-alternative" type="text" >
                        </div>
                                
                        <div class="form-group">
                            <label class="form-control-label" for="input-address">Video Link</label>
                            <input id="input-address" name="dept" class="form-control form-control-alternative" type="text" >
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-address">Audio Link</label>
                            <input id="input-address" name="year" class="form-control form-control-alternative" type="text" >
                        </div>
                  
                                
                           
        
            
       

                        <div>
                            <button onclick="document.location='default.asp'">Submit</button>
                        </div>
           

        </form>

</body>
</html>